{% extends 'base.html' %}
{% block BodyHeading %}

    <form method="post">
        {% csrf_token %}

        <h5> Você está certo que deseja excluir o tipo de ponto {{ tipo_ponto }}?</h5>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <button class="btn btn-danger" type="submit">Excluir</button>
                <a class="btn btn-secondary" href="{% url 'lista_tipo_ponto' %}">Cancelar</a>
            </div>
        </div>
    </form>

{% endblock %}