{% extends 'base.html' %}
{% block BodyHeading %}
{% if colaborador.departamento.admin == True %}
    <div class="container">

        <div class="row">
            <div class="col">
                <h5>Colaboradores - {{colaborador}}</h5>
            </div>

            <div class="text-right">
                <a href="{% url 'cadastro_colaborador' %}" class="btn btn-primary btn-block" role="button">Novo colaborador</a>
            </div>

        </div>

        <div class="row" style="margin-top:80px;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Liga do colaborador</th>
                    <th class="text-right" scope="col">Ações</th>
                </tr>
                </thead>
                {% for colaborador in colaboradores %}
                <tbody>
                <tr>
                    <td>{{ colaborador.nome }}</td>
                    <td>{{ colaborador.departamento }}</td>
                    <td>{{ colaborador.liga.nome }}</td>
                    <td class="text-right">
                        <a href="{% url 'atualizar_colaborador' colaborador.id %}">
                            <i class="fas fa-pen fa-fw" style="color: rgb(50, 48, 155);"></i>
                        </a>
                        <a href="{% url 'excluir_colaborador' colaborador.id %}">
                            <i class="fas fa-trash fa-fw" style="color: rgb(230, 17, 17);"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

    </div>
{% endif %}
{% endblock %}