{% extends 'base.html' %}
{% block BodyHeading %}
{% if colaborador.departamento.admin == True %}
    <div class="container">

        <div class="row">
            <div class="col">
                <h5>Avaliações - {{colaborador}}</h5>
            </div>

            <div class="text-right">
                <a href="{% url 'cadastro_liga' %}" class="btn btn-primary btn-block" role="button">Nova liga</a>
            </div>

        </div>

        <div class="row" style="margin-top:80px;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nome da liga</th>
                    <th class="text-right" scope="col">Ações</th>
                </tr>
                </thead>
                {% for liga in lista_liga %}
                <tbody>
                <tr>
                    <td>{{ liga.nome }}</td>
                    <td class="text-right">
                        <a href="#">
                            <i class="fas fa-pen fa-fw" style="color: rgb(50, 48, 155);"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-trash fa-fw" style="color: rgb(230, 17, 17);"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

    </div>
{% endif %}
{% endblock %}