{% extends 'base.html' %}
{% block BodyHeading %}


<div class="container">

    <div class="row">
        <div class="col">
            <h5>Liga - {{colaborador.liga}}</h5>
        </div>

    </div>
        <div class="row" style="margin-top:80px;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Posição</th>
                    <th scope="col">Colaborador</th>
                    <th scope="col">Pontuação</th>
                </tr>
                </thead>
                {% for posicao in lista_ranking %}
                <tbody>
                <tr>
                    <td># {{ posicao.0 }}</td>
                    <td>{{ posicao.1 }}</td>
                    <td> {{ posicao.2 }} </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
</div>
{% endblock %}